<?xml version="1.0" encoding="UTF-8"?>
<plugin
	xmlns="http://plugin.powerschool.pearson.com"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://plugin.powerschool.pearson.com plugin.xsd"
	name="Parent Portal - Require DELP"
	description="Digital Equity and Learning Preference display and requirement settings"
	version="24.8.0.0">
	<publisher name="Chad Cole">
		<contact email="chadacole@gmail.com"/>
	</publisher>
</plugin>
